<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><font color="#ffffff">PlayWithRuby</font></a>
    </div>
  </div>
</div>

<div><h2>Question <%=@count%></h2></div>
<div><h2><%=@questionaire.question %></h2></div>
<%= form_for(@challenge) do |f| %>
  <div class="field">
    <div class="container editor">
      <div class="editorArea">
        <div class="editorArea">
          <%= f.text_area :input %>
        </div>
        <%= f.hidden_field :questionaire_id, :value => @questionaire.id %>
      </div>
      <div class="actions">
        <%= f.submit "next", :class => '"btn btn-large btn-primary'%>
      </div>
    <% end %>
    <%= stylesheet_link_tag 'bootstrap', 'docs' %>
